html {
  box-sizing: border-box;
}

html *,
html *:before,
html *:after,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.warehouse {
  width: 100%;
  max-height: 100%;
  background-color: whitesmoke;
  position: relative;
}

.slider {
  width: 100%;
  height: 93vh;
  position: relative;
  display: flex;

  transition: all 0.5s;
  overflow: hidden;
}

.slider .slide {
  width: 25%;
  height: 100%;
  position: relative;

  transition: 0.5s;
  background: white;
}

.slider .slide:nth-child(1) {
  background-image: url("img/magazynsurowce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.slider .slide:nth-child(2) {
  background-image: url("img/statystyki.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.slider .slide:nth-child(3) {
  background-image: url("img/dostawy1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.slider .slide:nth-child(4) {
  background-image: url("img/todolist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.slider .slide:hover {
  width: 60%;
  cursor: pointer;
}
#header {
  background-color: whitesmoke;
  color: white;
  text-align: center;
  height: auto;
  width: auto;
}
#footer {
  background-color: whitesmoke;
  color: black;
  clear: both;
  text-align: center;
}
h1,
p {
  font-weight: normal;
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-right: 1%;
  font-family: "Aboreto";
}

#main {
  height: auto;
  width: auto;
}
.logo {
  min-height: 1px;
  width: 200px;
  display: inline-block;
  height: auto;
}
#logo {
  margin-bottom: 5px;
  margin-top: 0;
}

#main-logo {
  text-align: center;
  margin-top: 1px;
  width: auto;
}
.slider li a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .box-conatiner {
    flex-direction: column;
  }
  .box {
    width: 90%;
    margin: 5px auto;
  }
  .btn {
    margin: 10px auto;
  }
}
@media (max-width: 900px) {
  .box {
    width: 100%;
    margin: 0 auto;
    min-height: auto;
  }
  .btn {
    margin: 10px auto;
  }
}
